@mainnoheader(title = "Home") {
        
<div class="row-fluid" id="search">

    <div class="span12" >
        <div id="search-bar">
            <div class="logo"></div>
            <div >
                <form class="form-search" id="search-holder">
                    <input type="text" class="input-xlarge" placeholder="Search ">
                    <button type="submit" class="btn"><div class="icon-search" /></button>
                </form>
            </div>
         </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row-fluid" id="main-content">
        <div class="span12">
            <ul>

            </ul>

        </div>
    </div>
</div>
}
